@use "../base/_typography" as typo
@use "../abstracts/_mixins" as mix

.recommends_container
  padding-block: 32px
  
  & > header
    display: flex
    justify-content: between
    align-items: center
  
  & > div
    margin-top: 8px


.recommends_content
  & > .caoursel_snap
    min-inline-size: 224px


.recommends_title
  @include typo.text--24
  @include typo.text--bold
  @include mix.line-clamp--ellipsis(2)
  
  max-inline-size: 480px

  
.recruit_articles_container
  padding-block: 16px

  display: grid
  grid-template-columns: repeat(auto-fill, minmax(309px, 1fr))
  gap: 32px

  & > li
    min-inline-size: 309px


.recommends_header
  display: flex
  justify-content: space-between


.sort_wrapper
  position: relative


.sort_btn
  @include typo.text--16
  @include typo.text--medium
  

.sort_menu
  position: absolute
  